			.top {
				width: 33%;
				float: left;
				height: 50px;
			}
			
			.menu {
				width: 99%;
				font-size: 15px;
				background-color: black;
				color: white;
				height: 40px;
			}
			
			.clear {
				clear: both;
			}